.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1805px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 40px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 198px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 39px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 21px 0 0;
  color: #4345e7;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-3 .u-video-1 {
  min-height: 586px;
  animation-duration: 1500ms;
}

.about-us {
  padding-top: 130px;
  position: relative;
}

.about-us .section-heading {
  margin-bottom: 45px;
}

.about-us .section-heading,
.about-us .box-item,
.about-us p,
.about-us .box-item .gradient-button,
.about-us .box-item span {
  position: relative;
  z-index: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 198px;
  background-image: url("images/bayeuxdehors.PNG");
  animation-duration: 1500ms;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 0 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 198px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-line-2 {
  width: 100px;
  height: 3px;
  margin: 39px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 21px 0 0;
  color: #4345e7;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 426px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-line-3 {
  width: 100px;
  height: 3px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 21px 0 0;
  color: #4345e7;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 198px;
  background-image: url("images/rouendehors.PNG");
  background-position: 50% 50%;
  animation-duration: 1500ms;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 59px;
}

.u-section-3 .u-image-3 {
  min-height: 342px;
  background-image: url("images/Capture.PNG");
  animation-duration: 1500ms;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 342px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 30px 16px;
}

.u-section-3 .u-line-4 {
  width: 100px;
  height: 10px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 21px 0 0;
  color: #4345e7;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1734px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 321px;
    animation-duration: 1500ms;
  }

  .u-section-3 .u-video-1 {
    min-height: 483px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    min-height: 321px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 321px;
    animation-duration: 1500ms;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 321px;
    animation-duration: 1500ms;
  }

  .u-section-3 .u-image-2 {
    min-height: 319px;
  }

  .u-section-3 .u-image-3 {
    min-height: 282px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 321px;
    animation-duration: 1500ms;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1528px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-video-1 {
    min-height: 370px;
  }

  .u-section-3 .u-image-1 {
    min-height: 246px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    min-height: 244px;
  }

  .u-section-3 .u-image-3 {
    min-height: 216px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2434px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-video-1 {
    min-height: 555px;
  }

  .u-section-3 .u-image-1 {
    min-height: 615px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 549px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 324px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3377px;
  }

  .u-section-3 .u-video-1 {
    min-height: 349px;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
  }

  .u-section-3 .u-image-2 {
    min-height: 346px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 33px;
    margin-bottom: 26px;
  }

  .u-section-3 .u-image-3 {
    min-height: 204px;
  }
}

.section-gray {
  padding: 60px 0 30px 0;
}

.centre{
  text-align: center;
  margin-left: 25%;
}
.card-img{
  margin-top: 15%;
}


.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.b-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  background: url(https://assets.codepen.io/3364143/7btrrd.mp4);
}



/* 
En savoir plus 
*/

.services {
  padding-top: 80px;
  position: relative;
  z-index: 1;
}

.services  .section-heading p {
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.services:after {
  content: '';
  background-image: url(images/services-left-decoupe.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  bottom: -150px;
  width: 261px;
  height: 368px;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 1px;
}

.services .section-heading {
  text-align: center;
  margin-bottom: 80px;
  z-index: 1;
}





